body {
    font-family: 'Raleway', sans-serif;
    background-color: #353535; /* Dark grey background */
    color: white; /* Default text color */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: black; /* Black background for app content */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    color: green;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin: 10px 0; /* Space between fields */
    padding: 10px;
    background-color: black; /* Keep the background black */
    color: white; /* White text for input fields */
    border: 1px solid white; /* White border */
    border-radius: 3px; /* Rounded corners */
}

input:focus {
    outline: none; /* Remove outline */
    border-color: green; /* Change border color on focus */
}

button {
    padding: 10px;
    background-color: green; /* Standard green color for buttons */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#message {
    text-align: center;
    margin-top: 20px;
    color: green; /* Change feedback message color to green */
    background-color: rgba(0, 128, 0, 0.1); /* Light green background */
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hidden {
    display: none;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    border: 1px solid white; /* White border for tasks */
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
}

#task-list li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

#task-list button {
    background-color: green; /* Green color for Edit and Delete buttons */
    width: 100%;
    margin-top: 5px;
}

#task-list button:hover {
    background-color: #4cae4c;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#search-input {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    background-color: black; /* Dark gray background for search input */
    color: white; /* White text for search input */
    border: 1px solid white; /* White border for the search input */
    border-radius: 3px; /* Rounded corners */
}

.search-icon {
    cursor: pointer;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: white;
}
